.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.data-container {
  text-align: center;
}

.data-container p {
  border-bottom: 2px solid #f2f2f2;
  margin: 20px auto;
  padding: 10px 0;
}

.progress-container {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  text-align: center;
  color: #fff;
  background: #000;
}

.scroll-progress {
  width: 100%;
  height: 10px;
  background: #ed2e2ecc;
}

.progress-bar {
  height: 10px;
  background: #8b0;
  width: 0%;
}
