.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.data-container {
  text-align: center;
}

.data-container p {
  border-bottom: 2px solid #f2f2f2;
  margin: 20px auto;
  padding: 10px 0;
}
