.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
}

.input-container {
  display: flex;
  gap: 20px;
  width: 100%;
}

input {
  width: inherit;
  padding: 5px 10px;
  outline: 0;
  border: 0;
  border-bottom: 2px solid pink;
}

button {
  background: pink;
  color: black;
  border: 2px solid black;
  font-size: 14px;
  padding: 5px 15px;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
    background: rgb(253, 134, 154);
  }
}

img {
  width: 100%;
  border-radius: 50%;
}
b {
  color: black;
}
p {
  margin: 5px 0;
}

a {
  color: rgb(248, 169, 182);
  font-weight: bolder;
  font-size: 24px;
  &:hover {
    color: rgb(253, 134, 154);
  }
}
.profile-container {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.profile-container .img {
  max-width: 200px;
}

.profile-container .user-info {
  width: 100%;
  margin-left: 20px;
}

.user-info .info {
  display: flex;
  align-items: center;
  gap: 10px;
}
