.accordion {
  max-width: 600px;
  margin: 2rem auto;
  background: #f1f1f1;
  padding: 1rem;
  border-radius: 10px;
}
.accordion h1 {
  text-align: center;
  margin: 1rem 0;
}

.accordion .item {
  border-bottom: 2px solid;
}

.accordion h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.accordion p {
  font-size: 16px;
  margin-bottom: 0.5rem;
}
